a:link {
  /* Green background */
  color: white; /* White text */
  padding: 15px; /* Some padding */
  text-align: right; /* Centered text */
  font-size: 12px;
  font-weight: bold; /* Larger font size */
}
.outer {
  /* Outer container */
  width: 100%;
  height: 100%;
  position: relative;
}
.box {
  /* Inner box */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
